.red_color {
    color: #ff4d3b;
}

.TTWForm-container {
    font-size: 75%;
    color: #222;
    background: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    width:115px;
    position: inherit;
}

.order-table{   
	border-collapse:collapse;
}
 
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #FFD700;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}
 
.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}
 
.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFF0F5;
	border-top:1px solid #BBBBBB;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:#9dce2c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:normal;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:115px;
	text-decoration:none;
	text-align:center;
}.button:hover {
	background-color:#8cb82b;
}

.button:active {
	position:relative;
	top:1px;
}

























.search-result {
    width: 320px;
    height: 100px;
    position: relative;
}

.left-search-tool {
    width: 40px;
    height: 100%;
    position: relative;
    float: left;
}

.right-search-tool {
    width: 280px;
    height: 100%;
    position: relative;
    float: right;
}

.file-name{
    font-size: 18px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #1e0fbe;
    margin: 0;
}

.file-name-link{
}

a.file-name-link:visited {
    color: #1e0fbe;
}

.file-path{
    font-size: 13px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #006621;
}

.file-path-link{
    text-decoration: none;
    color: #006621;
}

a.file-path-link:visited {
    color: #006621;
}


.file-info{
    font-size: 11px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #cacaca;
}

.attribute-name{
    font-size: 12px;
    color: #8c8c8c;
}

.server-indicator {
    float: right;
    margin: 8px;
    z-index: 100;
}

.search-footer{
    float: right;
    display: none;
    font-size: 12px;
    color: #8c8c8c;
    text-decoration-line: line-through;

}

.right-search-tool:hover .search-footer {
    display: inline;
}

.search-footer:hover {
    cursor: pointer;
    color: #ff4d3b;


}

.file-attributes {
    margin-left: 13px;
    border-top: 1px dashed #dcdcdc;
    color: #1c1c1c;

}

.attribute-group  {
    display: inline-table;
    margin-right: 3px;
}